<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Settings</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
	<form [formGroup]="form">
		<ion-item>
			<ion-input
				placeholder="Broker URL"
				formControlName="hostname"
				autofocus="true"
				clearInput="true"
			></ion-input>
		</ion-item>
		<div
			*ngIf="(hostname.dirty || hostname.touched) && hostname.errors"
			class="ion-margin-bottom input-errors"
		>
			<span *ngIf="hostname.errors?.required">Broker URL is required</span>
		</div>

    <ion-item>
			<ion-input
				placeholder="Port Number"
				formControlName="port"
				autofocus="true"
				clearInput="true"
			></ion-input>
		</ion-item>
		<div
			*ngIf="(port.dirty || port.touched) && port.errors"
			class="ion-margin-bottom input-errors"
		>
			<span *ngIf="port.errors?.required">Port Number is required</span>
		</div>

    <ion-item>
			<ion-input
				placeholder="Path"
				formControlName="path"
				autofocus="true"
				clearInput="true"
			></ion-input>
		</ion-item>
		<div
			*ngIf="(path.dirty || path.touched) && path.errors"
			class="ion-margin-bottom input-errors"
		>
			<span *ngIf="path.errors?.required">Path is required</span>
		</div>

		<ion-button
			[disabled]="form.invalid"
			(click)="save()"
			expand="full"
		>Save</ion-button>
	</form>
</ion-content>