<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Add Topic</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
	<form [formGroup]="form">
		<ion-item>
			<ion-input
				placeholder="Topic"
				formControlName="topic"
				autofocus="true"
				clearInput="true"
			></ion-input>
		</ion-item>
		<div
			*ngIf="(topic.dirty || topic.touched) && topic.errors"
			class="ion-margin-bottom input-errors"
		>
			<span *ngIf="topic.errors?.required">Topic is required</span>
		</div>

		<ion-button
			[disabled]="form.invalid"
			(click)="save()"
			expand="full"
		>Save</ion-button>
	</form>
</ion-content>