<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ topic?.topic }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div style="display: block;">
		<canvas
			baseChart
			width="400"
			height="400"
			chartType="line"
			[datasets]="chartData"
			[labels]="chartLabels"
			[options]="chartOptions"
			[colors]="chartColors"
			[legend]="chartLegend"
			[plugins]="chartPlugins"
		></canvas>
	</div>
</ion-content>