.pagebreak { page-break-after: always; }

code[class*="language-"] mark, pre[class*="language-"] mark {
    min-width: 99%;
    display: inline-block;
    color: inherit;
    padding: 1px;
    background: rgba(0, 162, 255, 0.1);
}