<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button color="primary" fill="clear" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button fill="clear" (click)="addTopicPrompt()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngFor="let topic of topics">
    <ion-card>
      <ion-item>
        <ion-label>{{ topic.topic }}</ion-label>
        <ion-button fill="clear" slot="end" (click)="viewTopic(topic)">
          <ion-icon slot="icon-only" name="stats-chart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="end" (click)="editTopicPrompt(topic)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="end" (click)="deleteTopic(topic.id)">
          <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
